@media (min-width: 320px) {
    /* BLUE FOOTER */

.foot3{
    visibility: hidden;
}
#cu{
    background-color: hsl(0, 94%, 66%);
    border: 0px solid;
    color: whitesmoke;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    /* box-shadow: 0px 5px 0px 0px rgb(178, 179, 241); */
 }
 .movecu{
     padding-top: 20px;
 }

 #inp{
    background-color: #ffff;
    border: 2px solid;
    /* outline: 1px rgb(219, 180, 180); */
    outline-color: mediumpurple;
    color: whitesmoke;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    /* box-shadow: 0px 5px 0px 0px rgb(178, 179, 241); */
 }
 .foot1{
     background-color: hsl(231, 69%, 60%);
     height: 300px;
 }
 .movefoot1{
     padding-top: 60px;
     font-family: 'Rubik', sans-serif;
 }
 .foottext1{
     padding-top: 50px;
     color: white;
 }

 /* DARK BLUE FOOTER */
#book{
     color: white;
     font-weight: bold;
     position: absolute;
     left: 120px;
     /* bottom: 25px; */
 }
 .foot2{
     background-color: hsl(229, 31%, 21%);
     height: 300px;
 }
 #footlogo{
     color: white;
     z-index: 100;
 }
 #fpc{
     color: white;
     text-decoration: none;
     padding-top: 30px;
 }
 #fpcgap{
     padding-top: 20px;
 }

 .footicon{
     display: flex;
     justify-content: space-around;
     padding-top: 20px;
 }
 #fb{
     padding-left: 90px;
 }
 #tw{
    padding-right: 100px;
}
.movefootcont{
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
}
.foottext2{
    display: block;
    padding-top: 20px;   
}
}


/* 600 MEDIA STARTS HERE */
@media (min-width: 600px) {

    #cu{
        width: 400px;
    }
    #inp{
        width: 400px;
    }
    #fb{
        padding-left: 150px;
    }
    #tw{
       padding-right: 160px;
   }
}


@media (min-width: 1025px) {
    .foottext1 h2{
        width: 70%;
        padding-left: 280px;
    }

    #cu{
        width: 150px;
        position: relative;
        bottom: 20px;
        left: 10px;
    }
    #inp{
        width: 280px;
    }
.inpcu{
    display: flex;
    position: relative;
    left: 250px;
    padding-top: 20px;
}
.movefoot1{
    overflow: hidden;
}

.foot3{
    /* visibility: visible; */
}
.foot2{
    overflow: hidden;
    height: 100px;
}

.foottext2{
    display: flex;
    position: relative;
    left: 400px;
    bottom: 60px;
}
#footlogo{
    position: relative;
    right: 300px;
}

.footicon{
    position: relative;
    left: 200px;
    bottom: 100px;
}
#fb{
    position: relative;
    left: 300px;
}
#tw{
   position: relative;
}
#fpc{
    padding-left: 20px;
}



}



/* MEDIA QUERY FOR 1285 STARTS */
@media (min-width: 1285px) {
    
.foottext1 h2{
    width: 60%;
    padding-left: 450px;
}
.foottext1 p{
    padding-right: 150px;
    letter-spacing: 5px;
}
.inpcu{
    padding-left: 200px;
}

#fb{
    position: relative;
    left: 420px;
}
#tw{
   position: relative;
   right: 100px;
}
#footlogo{
    padding-right: 350px;
}




}